.idea
.vscode
.gradle
.vs
.DS_Store
build
out
tmp
bin
__pycache__
*.pyc
*.log
imgui.ini

# Should be removed once we deprecate the old native android demos.
implicit_fem/android/local.properties
implicit_fem/android/app/.cxx
implicit_fem/android/app/src/main/jniLibs
