.idea
.vscode
.vs
.DS_Store
build*
out
tmp
bin
__pycache__
*.pyc
*.log
imgui.ini
0_tutorial_cgraph/assets/tutorial/*
0_tutorial_kernel/assets/tutorial/*
2_mpm88/assets/mpm88_*/**
3_implicit_fem/assets/implicit_fem/*
4_texture_fractal/assets/fractal/*
5_sph/assets/sph_*/**
6_taichi_sparse/assets/taichi_sparse_*/**
7_comet/assets/comet_*/**
output/*
