[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "external/graphi-t"]
	path = external/graphi-t
	url = https://github.com/PENGUINLIONG/graphi-t
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/backward-cpp"]
	path = external/backward-cpp
	url = https://github.com/bombela/backward-cpp
[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/taichi-dev/taichi_glad_ready
