/mpm88_android/.gradle/
/mpm88_android/app/.cxx/
/mpm88_android/app/build/
/mpm88_android/app/src/main/assets/mpm88/*.spv
/mpm88_android/app/src/main/assets/mpm88/*.json
/mpm88_android/app/src/main/assets/mpm88/*.tcb
/implicit_fem/android/.gradle
/implicit_fem/android/local.properties
/implicit_fem/android/.idea
/implicit_fem/android/app/.cxx
/implicit_fem/android/app/build
/implicit_fem/android/app/src/main/jniLibs/arm64-v8a/*
!/implicit_fem/android/app/src/main/jniLibs/arm64-v8a/.gitkeep
/implicit_fem/desktop/build
.vscode
__pycache__/
*.pyc
/implicit_fem/python/imgui.ini
/test/build/
